/* 

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


text--color: #212529
light--color: #495057
facebook blue: #1877F2;

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f2f5;
  color: #212529;
  font-family: HelveticaNeueW01-55Roma, HelveticaNeueW02-55Roma,
    HelveticaNeueW10-55Roma, sans-serif;
  font-size: 24px;
}

.container {
  width: 1200px;
  display: flex;
  margin: 150px auto;
}

.sub-container {
  display: flex;
}

.header-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-size: 24px;
  font-weight: 400;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  color: #1877f2;
  letter-spacing: -2.5px;
}

.summery {
}

.email {
}

.password {
}

.btn-login {
}

.forget-password {
}

.btn-create {
}

footer {
  background-color: #fff;
}
